<div class="con un">
    <div class="icon">
        <i class='bx bxl-github'></i>
        <a href="https://github.com/haarsh1306" class="link" target="_blank">Github</a>
    </div>
    <div class="icon">
        <i class='bx bxl-linkedin-square'></i>
        <a href="https://www.linkedin.com/in/harsh1306/" class="link" target="_blank">Linkedin</a>
    </div>
    <div class="icon">
        <i class='bx bxl-instagram'></i>
        <a href="https://www.instagram.com/harshverma.13/" class="link" target="_blank">Instagram</a>
    </div>
</div>