.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    gap: 10px;
    background-color: black;
    width: 100vw;
    padding: 0px 40px;
    position: fixed;
    bottom: 0%;
}

.con a {
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    font-weight: 500;
    margin-left: 5px;
    
}


.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover i,
.icon:hover .link {
  color: white;
}


